@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.App {
  background-color: #14161a;
  color: white;
  min-height: 100vh;
}

.banner {
  height: 100vh;
  overflow-y: scroll;
  background-image: url("../public/banner2.jpg"), linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));;
  /* opacity: 0.25; */
}